services:
  discord-bot:
    image: grimlight/discord-bot:latest
    container_name: discord_bot
    restart: unless-stopped
    depends_on:
      - lavalink
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - GUILD_ID=${GUILD_ID}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}
      - LAVALINK_HOST=lavalink
      - LAVALINK_PORT=2333
      - LAVALINK_PASSWORD=${LAVALINK_PASSWORD}
    networks:
      - bot-network

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4-alpine
    container_name: lavalink
    restart: unless-stopped
    user: root
    environment:
      - _JAVA_OPTIONS=-Xmx2G

      - SERVER_PORT=2333
      - SERVER_ADDRESS=0.0.0.0
      - LAVALINK_SERVER_PASSWORD=${LAVALINK_PASSWORD}

      - LAVALINK_PLUGINS_0_DEPENDENCY=dev.lavalink.youtube:youtube-plugin:1.15.0
      - LAVALINK_PLUGINS_0_SNAPSHOT=false

      - LAVALINK_PLUGINS_1_DEPENDENCY=com.github.topi314.lavasrc:lavasrc-plugin:4.8.1
      - LAVALINK_PLUGINS_1_REPOSITORY=https://maven.lavalink.dev/releases
      - LAVALINK_PLUGINS_1_SNAPSHOT=false

      - PLUGINS_YOUTUBE_ENABLED=true
      - PLUGINS_YOUTUBE_ALLOWSEARCH=true
      - PLUGINS_YOUTUBE_ALLOWDIRECTVIDEOIDS=true
      - PLUGINS_YOUTUBE_ALLOWDIRECTPLAYLISTIDS=true
      - PLUGINS_YOUTUBE_CLIENTS_0=MUSIC
      - PLUGINS_YOUTUBE_CLIENTS_1=ANDROID_VR
      - PLUGINS_YOUTUBE_CLIENTS_2=WEB
      - PLUGINS_YOUTUBE_CLIENTS_3=WEBEMBEDDED

      - PLUGINS_LAVASRC_SOURCES_SPOTIFY=true
      - PLUGINS_LAVASRC_SPOTIFY_CLIENTID=${SPOTIFY_CLIENT_ID}
      - PLUGINS_LAVASRC_SPOTIFY_CLIENTSECRET=${SPOTIFY_CLIENT_SECRET}
      - PLUGINS_LAVASRC_SPOTIFY_COUNTRYCODE=US
      - PLUGINS_LAVASRC_SPOTIFY_PLAYLISTLOADLIMIT=6
      - PLUGINS_LAVASRC_SPOTIFY_RESOLVEARTISTSINSEARCH=true
      - PLUGINS_LAVASRC_PROVIDERS_0=ytsearch:"%ISRC%"
      - PLUGINS_LAVASRC_PROVIDERS_1=ytsearch:%QUERY%

      - LAVALINK_SERVER_SOURCES_YOUTUBE=false
      - LAVALINK_SERVER_SOURCES_BANDCAMP=true
      - LAVALINK_SERVER_SOURCES_SOUNDCLOUD=true
      - LAVALINK_SERVER_SOURCES_TWITCH=true
      - LAVALINK_SERVER_SOURCES_VIMEO=true
      - LAVALINK_SERVER_SOURCES_HTTP=true
      - LAVALINK_SERVER_SOURCES_LOCAL=false

      - LAVALINK_SERVER_BUFFERDURATIONMS=400
      - LAVALINK_SERVER_FRAMEBUFFERDURATIONMS=5000
      - LAVALINK_SERVER_OPUSENCODINGQUALITY=10
      - LAVALINK_SERVER_RESAMPLINGQUALITY=LOW
      - LAVALINK_SERVER_TRACKSTUCKTHRESHOLDMS=10000
      - LAVALINK_SERVER_USESEEKGHOSTING=true
      - LAVALINK_SERVER_YOUTUBEPLAYLISTLOADLIMIT=6
      - LAVALINK_SERVER_PLAYERUPDATEINTERVAL=5
      - LAVALINK_SERVER_YOUTUBESEARCHENABLED=true
      - LAVALINK_SERVER_SOUNDCLOUDSEARCHENABLED=true
      - LAVALINK_SERVER_GCWARNINGS=true

      - LOGGING_FILE_PATH=./logs/
      - LOGGING_LEVEL_ROOT=INFO
      - LOGGING_LEVEL_LAVALINK=INFO

    volumes:
      - lavalink-plugins:/opt/Lavalink/plugins/
    networks:
      - bot-network
    expose:
      - 2333

volumes:
  lavalink-plugins:
networks:
  bot-network:
    name: bot-network